<!DOCTYPE html>
<html>
  <head>
    <title>About me</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="./images/Mine.jpg" />
    </div>
    {{>footer}}
  </body>
</html>
